.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body {
  padding: 0;
  margin: 0;
}

div {
  background-image: url("./images/Accenture_logo.svg.png");
  background-repeat: no-repeat;
  background-position: left;  
  background-size: 15%;
  background-position-x: 50px;
  background-color:blueviolet;
}

